<!DOCTYPE html>
<html lang="ko">
<html>
    <head>
        <meta charset="UTF-8">
        <!-- 페이지 별 title 설정-->
        <title>{% block title %}Django Tutorial{% endblock %}</title>
        <!-- 필요한 파일 및 CDN을 추가합니다-->
        {% load staticfiles %}
        <!-- 다음에 css를 만져봅니다-->
        <link rel="stylesheet" type="text/css" href="{% static "css/frame.css" %}" />
        <link rel="stylesheet" href="{% block extrastyle %}{% endblock %}" />
        
    </head>
    <body>
        <!-- 회원가입 부분 -->
        <div id="header">
            {% if user.is_active %}
                <h4>
                    {% firstof user.get_short_name user.get_username %} |
                    <a href="{% url 'password_change' %}">Change Password</a> |
                    <a href="{% url 'logout' %}">Logout</a>
                </h4>
            {% else %}
                <h4>
                    Welcome |
                    <a href="{% url 'login' %}">Login</a> |
                    <a href="{% url 'register' %}">Register</a>
                </h4>
            {% endif %}
        </div>
        
        <!-- 각 앱에서 만드는 페이지로 채울 부분-->
        {% block content %}{% endblock %}
        <!-- footer가 있다면 사용할 부분 -->
        {% block footer %}{% endblock %}
    </body>
</html>